<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inca.mapper.CustomerMapper">
  
  <select id="getCustomerList" resultType ="CustomerView">
       select id,customerName,customerCode,domain,type,status,phoneNo,orgCode,onlineDate,stopDate,createTime from pub_customer
  </select>
  <!--按关键字查询记录  -->
  <select id="getCustomerListByKeyWord" resultType ="CustomerView" parameterType="string">
       select id,customerName,customerCode,domain,type,status,phoneNo,orgCode,onlineDate,stopDate,createTime from pub_customer where customerName like CONCAT('%',#{key},'%') or customerCode like CONCAT('%',#{key},'%') 
  </select>
  <!--根据用户id查询记录  -->
  <select id="getCustomerById" resultType ="CustomerView">
       select id,customerName,customerCode,domain,type,status,phoneNo,orgCode,onlineDate,stopDate,createTime from pub_customer where id=#{id} 
  </select>
   <!--新增记录  -->
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.inca.entity.pub.Customer">
  insert into pub_customer (customerCode,customerName,domain,type,orgCode,status,phoneNo) values (#{customerCode},#{customerName},#{domain},#{type},#{orgCode},#{status},#{phoneNo})
  </insert>
  <!--删除记录  -->
  <delete id="delete" parameterType="int">
   delete from pub_customer where id=#{id}
  </delete>
  <!-- 更新记录 -->
  <update id="update" parameterType="com.inca.entity.pub.Customer">
  update pub_customer set customerCode=#{customerCode},customerName=#{customerName},domain=#{domain},type=#{type},orgCode=#{orgCode},phoneNo=#{phoneNo} where id=#{id}
  </update>
 <!-- 确定停用记录 -->
  <update id="updateStatus" parameterType="Integer">
  update pub_customer set status=#{status},onlineDate=#{onlineDate},stopDate=#{stopDate} where id=#{id}
  </update> 
</mapper>