<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.inca.mapper.WebLogMapper">  
    <!-- 查询日志记录 -->  
    <select id="getWebLogs" parameterType="WebLog" resultType="WebLog">  
        SELECT id,accessTime,ip,webType,url,methodPath,methodName,args,result,msg FROM sys_weblog   
    <where>
    <if test="webType != null">
        webType = #{webType}
    </if>
    <if test="methodName != null">
      and  methodName = #{methodName} 
    </if>
     <if test="result != null">
      and  result = #{result} 
    </if>
    <if test="ip != null">
      and  ip = #{ip} 
    </if>
    </where>
    </select>  
    <insert id="insert" parameterType="WebLog">
    insert into sys_weblog(accessTime,webType,ip,url,methodPath,methodName,args,result,msg,createTime)values(#{accessTime},#{webType},#{ip},#{url},#{methodPath},#{methodName},#{args},#{result},#{msg},#{createTime})
    </insert>
</mapper> 